*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(229, 229, 229);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
}
.escudo,
.cruz{
    height: 220px;
}
.escudo{
    margin-left: 30px;
}
.cruz{
    margin-left: 830px;
}
.carrinho{
    height: 90px;
    margin-right: 30px;
}
.container a p{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Pathway Extreme', sans-serif;
}
.container a{
    text-decoration: none;
}
.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 500px;
}
section{
    max-width: 2300px;
    width: 100%;
    margin: 0 auto;
}
.first-products img,
.second-produts img{
    height: 600px;
    cursor: pointer;
    padding-bottom: 20px;
}
.first-products,
.second-produts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
section .first-products p,
section .second-produts p{
    font-size: 30px;
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.first-products a,
.second-produts a{
    text-decoration: none;
    color: black;
}
button{
    font-size: 24px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
}
button:hover{
    transition: 0.3s;
    background-color: rgb(198, 198, 198);
}
section .product a img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px;
}
input:focus{
    outline-color:black;
}
textarea:focus{
    outline-color: black;
}
h3{
    color: white;
    font-size: 31px;
    font-family: 'Pathway Extreme', sans-serif;
}
input{
    display: block;
    background-color: white;
    width: 400px;
    height: 50px;
    border-radius: 6px;
    margin: 10px 0;
}
.message button{
    display: block;
    width: 100px;
    font-family: 'Pathway Extreme', sans-serif;
}
form textarea{
    height: 200px;
    width: 400px;
    padding: 5px;
    border-radius: 6px;
}
.vasco p{
    color: white;
    font-size: 100px;
    font-family: 'Bruno Ace', cursive;
}
.vasco img{
    text-decoration: none;
    height: 100px;
}
