*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(229, 229, 229);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px;
}
.escudo,
.cruz{
    height: 100px;
}
.escudo{
    margin-left: 10px;
}
.cruz{
    margin-left: 450px;
}
.carrinho{
    height: 40px;
    margin-right: 10px;
}
.container a p{
    font-size: 13px;
    text-decoration: none;
    font-family: 'Pathway Extreme', sans-serif;
}
.container a{
    text-decoration: none;
}
.login-container img{
    height: 50px;
}
.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 320px;
}
section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.first-products img,
.second-produts img{
    height: 300px;
    cursor: pointer;
    padding-bottom: 8px;
}
.first-products,
.second-produts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
section .first-products p,
section .second-produts p{
    font-size: 16px;
    padding-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.first-products a,
.second-produts a{
    text-decoration: none;
    color: black;
}
button{
    font-size: 11px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 8px;
    background-color: transparent;
}
button:hover{
    transition: 0.3s;
    background-color: rgb(198, 198, 198);
}
section .product a img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px;
}
input:focus{
    outline-color:black;
}
textarea:focus{
    outline-color: black;
}
h3{
    color: white;
    font-size: 16px;
    font-family: 'Pathway Extreme', sans-serif;
}
input{
    display: block;
    background-color: white;
    width: 260px;
    height: 30px;
    border-radius: 4px;
    margin: 10px 0;
}
.message button{
    display: block;
    width: 70px;
    font-family: 'Pathway Extreme', sans-serif;
}
form textarea{
    height: 200px;
    width: 260px;
    padding: 5px;
    border-radius: 4px;
}
.vasco img{
    text-decoration: none;
    height: 60px;
}
